*.metaproj
*.metaproj.tmp
**/DeployResults/
Tools/**/packages/*
Misc/**/packages/*
**/css/cache/
**/styles/cache/
**/Images/dumps/
**/Bin/
Personal.config
RpManager.config
licenses.licx
PrecompiledWeb
*.orig
Appulate.Data/templatesSource.cs
*.exe
Appulate.WebUI.Admin/adminlogs/**/*
Appulate.WebUI/logs/*
*.iml
.idea/
node_modules
bower_components
Sources/Appulate.WebUI/app_offline.htm
Sources/Frontend/Appulate.WebUI/wwwroot/build
Sources/Appulate.WebUI.Admin/app_offline.htm
Sources/Frontend/Appulate.WebUI.Admin/wwwroot/build
Sources/Frontend/kitchen-sink/build
.vs/
.vscode/
*.code-workspace
npm-debug.log
jsconfig.json
*.pyo
*.pyc
coverage
.eslintcache
.stylelintcache
yarn-error.log
Storage/AppData/*
Storage/**/EventLog
Storage/**/Uplink/SyncLog
Storage/**/AcordXMLRequests/*
Storage/**/Database/*
Storage/**/AgencyData/*
Storage/**/AMSLog/*
Storage/**/EventLog/*
Storage/**/EventLogAdmin/*
Storage/**/EventLogService/*
Storage/**/Logs/*
Storage/**/FSListener/*
Storage/**/Agoura.FarsWorkflow/*
Storage/**/Elmah/*
Storage/**/Uplink/PrinterLog/*
Storage/**/Uplink/ParserResources/CarMakersInfo.log
Storage/**/Uplink/OcrLog/*
Storage/**/Uplink/PdfLog/*
Storage/**/Dumps
Storage/**/EmailCampaigns/*
Storage/**/RegressionTests/TestResults.xml
Storage/**/Storage.iml
Storage/**/ServiceInputFailure/PdfService.RenderPage/
Storage/**/ServiceInputFailure/PdfService.CreateFromHtml/
Storage/**/ServiceInputFailure/OcrService.Translate/
Storage/**/PolicyDataExports/
Storage/**/RatingEngine/RateFilings/
Storage/**/ServiceInputFailure/PdfService.RenderDocument/
Storage/**/MarketPortal/.idea
Storage/**/Uplink/Templates/*hash.xml
Storage/**/Temp/SupplementalDownloader/
Storage/**/Temp/Uplink
Storage/**/Trace/*
Storage/**/DataImport
Storage/Uploads/Images
Storage/ExternalSystemRequests/*
Storage/ExternalSystemRequestsHttpStats/*
Storage/Integrations/Ims/*
Thumbs.db
*.dll
*.user
*.dll.config
*.pdb
*.cache
.svn
*/bin/
*/obj/
*.suo
Appulate.AIM/Appulate.AIM.WebService/Logs/
Appulate.AIM/Appulate.AIM.RestService/Logs/
Appulate.AIM/Appulate.AIM.WebUI/Logs/
Appulate.AIM/Appulate.AIM.Common/bin/Debug/log4net.xml
Appulate.AIM/Appulate.AIM.Database/Appulate.AIM.Database.dbmdl
Appulate.AIM/Appulate.AIM.Database/sql/
Appulate.AIM/Appulate.AIM.Setup/SetupExe/
*/packages/
[Nn]u[Gg]et.exe
*.playlist
Storage/**/Temp
Sources/Appulate.Database/Appulate.Database.dbmdl
Sources/Appulate.Database/Appulate.Database.jfm
Misc/Scripts/.internal/Configs/config.local.ps1
Misc/Scripts/.internal/Configs/config.db.local.ps1
Misc/Scripts/Uplink/TestResults/testResults.html
[Dd]ebug/
[Dd]ebugPublic/
[Rr]eleases/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/
Sources/Appulate.WebUI/version.xml
Sources/Appulate.WebUI.Admin/version.xml
Storage/version.xml
Tools/Appulate.DevHelper/*.zip
!**/Appulate.UplinkClient/Setup/x64/
!**/Appulate.UplinkClient/Setup/x86/
!**/Appulate.UplinkClient/Setup/x64/*/*.DLL
!**/Appulate.UplinkClient/Setup/x86/*/*.DLL
Sources/Appulate.WebUI/Download/
.env
http-client.private.env.json
# https://wiki.appulate.dev/display/Appulate/Appulate+Connect
Storage/AppulateConnect/*
Storage/HealthCheck/*
*.personal.config
/Sources/Personal.Build.props
Storage/PrequalificationTests/*
lefthook-local.yml
Tools/Uplink/UplinkClient/Appulate.UplinkClientOSX/Appulate Uplink/DerivedData
Tools/Uplink/UplinkClient/Appulate.UplinkClientOSX/Appulate Uplink/Appulate Uplink.xcodeproj/project.xcworkspace/xcuserdata
Tools/Uplink/UplinkClient/Appulate.UplinkClientOSX/Appulate Uplink/Appulate Uplink.xcodeproj/xcuserdata
Tools/Uplink/UplinkClient/Appulate.UplinkClientOSX/Appulate Uplink Installer/Appulate Uplink.app
Tools/Uplink/UplinkClient/Appulate.UplinkClientOSX/Appulate Uplink Installer/Appulate Uplink.workflow/Contents/_CodeSignature
Tools/Agoura.WebUI/Agoura.WebUI/logs
Tools/Agoura.WebUI/Agoura.WebUI/ErrorLog
*.DS_Store
Tools/Uplink/UplinkClient/Appulate.UplinkClientOSX/Appulate Uplink Installer/Build
Tools/Appulate.Autotests/Appulate.PrequalificationAutotests/QuestionnaireExtensions/Excel/*.
Tools/Appulate.Autotests/Appulate.PrequalificationAutotests/QuestionnaireExtensions/Requirements/*
*.Personal.json
Tools/Uplink/RTS/RegressionTests/TestResults*
Tools/Uplink/RTS/RegressionTests/**/*.ps
Tools/Uplink/RTS/RegressionTests/**/*.pdf
!Tools/Uplink/RTS/RegressionTests/**/PortableDocument1.pdf
!Tools/Uplink/RTS/RegressionTests/**/PostScript.ps
Sources/Frontend/.yarn/**
!Sources/Frontend/.yarn/patches
!Sources/Frontend/.yarn/plugins
!Sources/Frontend/.yarn/releases
!Sources/Frontend/.yarn/cache
.teamcity/target/
docker_config/
kube_config.json
/Tools/Nginx/conf.d/Personal.conf
# Keep .gitkeep in any folder. This will ignore the content but not the director itself
!/**/.gitkeep
